/* id=# class=.*/
/* essa tag reseta todas as configurações da pagina*/
:root{
    --darkblue: #363f5f
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(211, 210, 210);
    font-family: "Poppins";
    
}

.container{
    width: min(90vw, 800px); /* minimo de view ou px - largura da tela - função min procura o menor dos valores passados*/
    margin: auto;
}

/*Titles ===========================================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;
    font-weight: normal;
}

/*header ===========================================*/
header{
    background: #2d4A22;
    padding: 2rem 0 10rem;
    text-align: center;

}

header h1{
    color: white;
    font-weight: 100;
    
}

#logo{
    color: white;
    font-weight: 100;
}

/*balance ===========================================*/
#balance{
    margin-top: -8rem;
}

#balance h2{
    color: white;
    margin-top: 0;

}

/*Cards ===========================================*/
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--darkblue); /*variavel criada lá em cima*/

}

.card h3{
    font-weight: normal;
    font-size: 1rem;

}

.card p{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;

}

.card.total {
    background: #3c6d2a;
    color: white;
}

/*table ===========================================*/
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem; 

}

table td {
    background: white;
    padding: 1rem 2rem;
    font-weight: normal;
    color: #969cb3;
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

table th {
    background: white;
    color:#969cb3;
    font-weight: normal;
    text-align: left;
    padding: 1rem 1rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

td.description {
    color: var(--darkblue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: #e92929;
}


/*footer ===========================================*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--darkblue);
    opacity: 0.6;
}
